/* Reset some default styles */
html, body, #root, .app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main container for the entire app */
.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Map container takes up the full space */
.map-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 50%;
  height: 50%;
}

#babylon-canvas, #qr-video {
  position: absolute;
  top: 0; left: 50%;
  width: 50%;
  height: 50%;  
}

#babylon-canvas {
  z-index: 2;
}

#permission-button{
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  border: none;
}